<!--ass 3_1-->
{% extends 'base.html' %}
{% block title %}About Page{% endblock %}
{% block page_body_main %}
    <main class="page-main">
        {% block page_body_main_content %}
            {{ super() }}
            <!-- TITLE -->
            <section class="colored-section container mycreatePage p-3">
                <div class="container-fluid p-3">
                    <div class="row">
                        <div class="col-lg-6">
                            {% filter upper %}
                                <h1 class="big-heading">About Me </h1>
                            {% endfilter %}
                        </div>
                    </div>
                    <hr>
                </div>
                <!--content-->
                {% if session['logedin'] %}
                    <div class="col-lg-4">
                        <div class="card" id="card">
                            <div class="member-card pt-2 pb-2">
                                <h3>User Info</h3>
                                {% for title, value in user_info.items() %}
                                    <p>{{ title | replace("_"," ",2) }}: {{ value | capitalize() }}</p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card" id="card">
                            <div class="member-card pt-2 pb-2">
                                <h3>User Hobbies</h3>
                                {% for hobbie in hobbies %}
                                    <p>{{ hobbie | capitalize() }}</p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="container-fluid p-3">
                        <!-- TITLE -->
                        <div class="row">
                            <div class="col-lg-6">
                                <h3> No Information for not registered ! </h3>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </section>
        {% endblock %}
    </main>
{% endblock %}
{% include ('footer3_1.html') %}


