<!--footer for assignment 3_1-->
<footer class="navbar fixed-bottom navbar-expand-lg mt-auto" id="item1">
    <a class="navbar-brand" href="">
        <button class="btn"><i class="fa-solid fa-book"></i> StudyBuddy</button>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!--page links-->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="/about">About Me</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/users">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/facebook" target="_blank"><i
                        class="fa-brands fa-facebook-square"></i> my university facebook</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/insta" target="_blank"><i
                        class="fa-brands fa-instagram"></i> my university insta</a>
            </li>
        </ul>
    </div>
</footer>
